/build
/storybook-static
node_modules
.loki/report.html
.loki/report.json

# IDE
./idea
.vscode/*
!.vscode/recommended-settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
