.app.light {
  --bg-color: #dbdbdb;
  --inverted-bg-color: #4017e3;
  --primary-color: #14098d;
  --secondary-color: #342bdf;
  --inverted-primary-color: #148d09;
  --inverted-secondary-color: #18bc0a;
}
